.icon_assistant {
    position: fixed;
    top: auto;
    bottom: 2em;
    left: auto;
    right: 2rem;
}

.dflex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .p-inputtext {
        width: 100%;
        margin-right: 1rem;
    }
}
.suggestionsbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.marginapply {
    margin: 1px 4px 4px 1px;
}
.ai_assistant {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .first_section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        .icon {
            font-size: x-large;
            width: 5%;
        }
        .name {
            flex: 1;
            margin: 5px 10px;
        }
    }
    .second_section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center; 
        .icon {
            width: 5%;
        }
        .description {
            flex: 1;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            background: #f7f7f8;
            border-radius: 5px;
            padding: 8px;
        }
    }
}

.mb_one {
    margin-bottom: 1rem;
}


.virt_ai {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    .icon {
        font-size: x-large;
        margin-right: 10px;
        // width: 5%;
    }
    .description {
            /* flex: 1; */
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        margin: 5px 10px;
        background: #19c37d;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
    }
    // .first_section {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: nowrap;
    //     align-items: center;
    //     justify-content: end;
        // .icon {
        //     font-size: x-large;
        //     width: 5%;
        // }
    //     .name {
    //         margin: 5px 10px;
    //     }
    // }
    // .second_section {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: nowrap;
    //     align-items: center;
    //     .description {
    //         flex: 1;
    //         padding: 5px 10px;
    //         display: flex;
    //         align-items: center;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         justify-content: end;
    //     }
    //     .icon {
    //         width: 5%;
    //     }
    // }
}

.loaderblock {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.font-large {
    font-size: x-large;
}
.ml-1 {
    margin-left: 1rem
}
.mr-1 {
    margin-right: 1rem;
}
.pad_one {
    padding-bottom: 1rem;
}


/* HTML: <div class="loader"></div> */
// .loader {
//     width: 20px;
//     aspect-ratio: 1;
//     border-radius: 50%;
//     background: #000;
//     box-shadow: 0 0 0 0 #0004;
//     animation: l2 1.5s infinite linear;
//     position: relative;
//   }
//   .loader:before,
//   .loader:after {
//     content: "";
//     position: absolute;
//     inset: 0;
//     border-radius: inherit;
//     box-shadow: 0 0 0 0 #0004;
//     animation: inherit;
//     animation-delay: -0.5s;
//   }
//   .loader:after {
//     animation-delay: -1s;
//   }
//   @keyframes l2 {
//       100% {box-shadow: 0 0 0 40px #0000}
//   }


/* HTML: <div class="loader"></div> */
// .loader {
//     width: 120px;
//     height: 20px;
//     -webkit-mask: linear-gradient(90deg,#000 70%,#0000 0) left/20% 100%;
//     background:
//      linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat
//      #ddd;
//     animation: l7 1s infinite steps(6);
//   }
//   @keyframes l7 {
//       100% {background-position: right -25% top 0}
//   }



/* HTML: <div class="loader"></div> */
// .loader {
//     width: 120px;
//     height: 20px;
//     background: 
//       linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
//       #f2f2f2;
//     background-size:300% 100%;
//     animation: l1 1s infinite linear;
//   }
//   @keyframes l1 {
//     0% {background-position: right}
//   }



/* HTML: <div class="loader"></div> */
// .loader {
//     width: 120px;
//     height: 20px;
//     background: 
//       radial-gradient(circle 10px,#000 95%,#0000 )  right /calc(200% + 20px) 100%,
//       linear-gradient(#000 0 0) center/100% 6px; 
//     background-repeat: no-repeat; 
//     -webkit-mask: radial-gradient(circle 4px,#0000 93%,#000 ) right/calc(200% + 20px) 100%;
//     animation: l6 1s infinite linear;
//   }
//   @keyframes l6 {
//     100% {background-position: left;-webkit-mask-position:left}
//   }



/* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 20px;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation: l1 2s infinite linear;
  }
  @keyframes l1 {
      100% {background-size:100%}
  }
